@using Assistance.Components.Layout
@inherits LayoutComponentBase

<LoadingIndicator>
    <ChildContent>
        @*<Layout>
            <LayoutHeader Fixed>
                <TopMenu />
            </LayoutHeader>
            <Layout Sider>
                <LayoutSider>
                    <LayoutSiderContent>
                        <SideMenu />
                    </LayoutSiderContent>
                </LayoutSider>
                <Layout>
                    <LayoutContent Padding="Padding.Is4.OnX.Is2.FromTop">
                        @Body
                    </LayoutContent>
                </Layout>
            </Layout>
        </Layout>*@

        <Layout Sider>
            <LayoutSider>
                <LayoutSiderContent>
                    <SideMenu />
                </LayoutSiderContent>
            </LayoutSider>
            <Layout>
                <LayoutHeader Fixed>
                    <TopMenu />
                </LayoutHeader>
                <LayoutContent Padding="Padding.Is4.OnX.Is2.FromTop">
                    @Body
                </LayoutContent>
            </Layout>
        </Layout>
    </ChildContent>
    <IndicatorTemplate>        
        <Div Class="spinner"></Div>        
        <h6 class="ms-2">Cargando...</h6>
    </IndicatorTemplate>
</LoadingIndicator>


