<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(Assistance.Layouts.MainLayout)" />
        </Found>
        <NotFound>
            <p>Sorry, there's nothing at this address.</p>
        </NotFound>
    </Router>
    <Noification />
    <PageProgressProvider />
</Blazorise.ThemeProvider>
@code {
    private Theme theme = new()
        {
            BarOptions = new()
            {
                HorizontalHeight = "70px"
            },
            ColorOptions = new()
            {
                //Primary = "#3B5998",
                Primary = "#7178C7",                
                Secondary = "#6C757D",
                Success = "#19BF90",
                //Info = "#8FD9E4",
                Info = "#39AFD1",
                Warning = "#FFFF66",
                //Danger = "#CE504D",
                Danger = "#E86D86",
                //Light = "#E2E2E2",
                Light = "#EEF2F7",
                Dark = "#313A46",                
            },
            BackgroundOptions = new()
            {
                //Primary = "#3B5998",
                Primary = "#7178C7",                
                Secondary = "#6C757D",
                Success = "#19BF90",
                //Info = "#8FD9E4",
                Info = "#39AFD1",
                Warning = "#FFFF66",
                //Danger = "#CE504D",
                Danger = "#E86D86",
                //Light = "#E2E2E2",
                Light = "#EEF2F7",
                Dark = "#313A46",                
            },
            InputOptions = new()
            {
                CheckColor = "#487ACA",
            },
            PaginationOptions = new()
            {
                Size = Size.Small,
                BorderRadius = "1rem",
            },
            BodyOptions = new()
            {
                //BackgroundColor = "#EEEEEE",
                BackgroundColor = "#FAFBFE",
            },
        };
}