<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(Assistance.Layouts.MainLayout)" />
        </Found>
        <NotFound>
            <p>Sorry, there's nothing at this address.</p>
        </NotFound>
    </Router>
    <MessageProvider />
    <PageProgressProvider />
</Blazorise.ThemeProvider>
@code {
    private Theme theme = new()
        {
            BarOptions = new()
            {
                HorizontalHeight = "72px"
            },
            ColorOptions = new()
            {
                Primary = "#3B5998",
                Secondary = "#6C757D",
                Success = "#19BF90",
                Info = "#8FD9E4",
                Warning = "#FFFF66",
                Danger = "#CE504D",
                Light = "#E2E2E2",
                Dark = "#313A46",
            },
            BackgroundOptions = new()
            {
                Primary = "#3B5998",
                Secondary = "#6C757D",
                Success = "#19BF90",
                Info = "#8FD9E4",
                Warning = "#FFFF66",
                Danger = "#CE504D",
                Light = "#E2E2E2",
                Dark = "#313A46",
            },
            InputOptions = new()
            {
                CheckColor = "#3B5998",
            }
        };
}